{% extends 'template.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/admin.css">
{% endblock %}

{% block content %}
    <h1>Add new Category</h1>
    <hr/>
    {% include 'categories/_form.twig' with {'button' : 'Add', 'path' : 'add'}%}
{% endblock %}