{% extends 'template.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/admin.css">
{% endblock %}

{% block content %}
    <h1>Write new post</h1>
    <hr>
    {% include 'posts/_form.twig' %}

{% endblock %}