{% extends 'template.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/admin.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

{% endblock %}

{% block content %}
    <h1>Write new post</h1>
    <hr>
    {% include 'posts/_form.twig' %}

{% endblock %}
{% block footer %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ru.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        $.noConflict();
        jQuery( document ).ready(function( $ ) {
            $('#inputImage').on('change',function(){
                var fileName = $(this).val();
                fileName = fileName.split('\\').pop();
                $(this).next('.custom-file-label').html(fileName);
            });
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    icons: {
                        time: "fas fa-clock",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    },
                    locale: 'ru',
                    format: 'Y-MM-DD HH:mm'
                });
            });
        });
        ClassicEditor
            .create( document.querySelector( '#inputBody' ),{
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', '|', 'ImageUpload', 'MediaEmbed', 'insertTable' ],
                ckfinder: {
                    uploadUrl: '/admin/posts/upload-image'
                } });
        ClassicEditor
            .create( document.querySelector( '#inputDescription' ),{
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                ckfinder: {
                    uploadUrl: '/admin/posts/upload-image'
                } });
    </script>
{% endblock %}